@import url("font.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --light-color: rgb(246, 235, 235);
    --dark-color: rgba(13, 13, 13, 1);
    --dark-color-75: rgba(13, 13, 13, 0.75);
    --dark-color-50: rgba(13, 13, 13, 0.50);
    --primary-color: rgba(64, 108, 196, 1);
    --primary-color-75: rgba(64, 108, 196, 0.75);
    --primary-color-50: rgba(64, 108, 196, 0.50);
    --secondary-color: rgba(196, 121, 64, 1);
    --secondary-color-75: rgba(196, 121, 64, 0.75);
    --secondary-color-50: rgba(196, 121, 64, 0.50);
}

html {
    font-family: 'Inter', sans-serif;
    height: 100vh;
    display: flex;
    background-color: var(--light-color);
    color: var(--dark-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50vw;
    height: 50vh;
    background-color: var(--light-color);
    box-shadow: 0 0 4rem 1rem #00000010;
    border-radius: 1rem;
    padding: 2rem;
}

@media screen and (max-width :1200px) {
    .container {
        width: 90vw;
        height: 70vh;
    }
}

.header {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo {
    font-size: 3rem;
}

.logo + h1 {
    font-family: 'Instrument Serif', serif;
    font-size: 6rem;
    font-style: italic;
}

@media screen and (max-width :768px) {
    .logo + h1 {
        font-size: 4rem;
    }
}

.taskList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.taskItem {
    background-color: var(--light-color);
    border: .20rem solid;
    border-color: var(--primary-color);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.checkTask {
    border: .20rem solid;
    border-color: var(--secondary-color);
}

.taskItem > input {
    border: none;
    background-color: transparent;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    outline: none;
}
.taskItem > button {
    padding: .25rem;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--dark-color);
    margin-left: auto;
}
.taskItem > button:hover {
    color: var(--dark-color-50);
}

.taskItem > button:active {
    color: var(--dark-color-75);
}
